@use "./variable.scss" as mixin;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: mixin.$primaryTextColor;
	font-family: "Poppins", sans-serif;
	width: mixin.$desktopBreakpoints;
	margin: 0 auto;
}